* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(233, 246, 237, 0.759);
}

#main-container {
  height: 95%;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.669);
  border: 1.5px solid rgb(55, 57, 57);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top-section {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: green; */
}

#header {
  font-size: 250%;
  font-weight: 700;
  padding-top: 1%;
  color: rgba(129, 81, 173, 0.784);
}

.upload-section {
  font-size: 20px;
  height: 20%;
  width: 100%;
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.upload-button {
  color: rgb(37, 38, 37);
  background-color: rgba(78, 164, 78, 0.705);
  width: 120px;
  height: 35px;
  font-size: 18px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.upload-button:hover {
  color: white;
  background-color: rgb(5, 48, 13);
}

#action-area {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: brown; */
}
a.button {
  text-decoration: none; /* Remove underline */
  color: black; /* Set text color to black */
}

.drawing-area {
  height: 90%;
  width: 55%;
  border: 1.5px solid rgb(55, 57, 57);
  border-radius: 10px;
  background-color: #d2d7cece;
  text-align: center;
  padding: 10px;
}

.drawing-area img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

#chat-container {
  height: 90%;
  width: 42%;
  border: 1.5px solid rgb(55, 57, 57);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(239, 239, 245, 0.897);
}

.chat-header {
  font-size: 23px;
  font-weight: 600;
  color: rgb(83, 146, 86);
  display: flex;
  justify-self: center;
  align-self: center;
  height: 10%;
}

.chat-box {
  height: 90%;
  width: 97%;
  background-color: #aba7b674;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow-y: auto;
  display: flex;
  padding:10px;
  margin-bottom: 15px;
  flex-direction: column;
}

.message {
  border-radius: 10px;

  align-items: center;
  word-wrap: break-word;
  font-size: 16px;

  margin: 5px 0;
  padding: 8px 10px;
  background-color: #c1e5f5;
  display: inline-block;
  max-width: 85%;
}

.user-message {
  background-color: #c1e5f5;
  text-align: right;
}

.system-message {
  background-color: #c1e5f5;
  text-align: left;
}

.user {
  align-self: flex-end;
  background-color: #b0f7a9;
  color: #000;
}

.system {
  align-self: flex-start;
  background-color: #65e0f8;
  color: #000;
}

.chat-in {
  height: 10%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  gap: 10px;
  padding-top: 5px;
}

.chat-input {
  font-size: 18px;
  width: 70%;
  height: 35px;
  padding: 10px;
  border: 1.5px solid #000000;
  border-radius: 10px;
}

.send-button {
  background-color: #ab85c2d1;
  color: black;
  width: 30%;
  height: 35px;
  font-size: 18px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.send-button:hover {
  color: white;
  background-color: #720ca0;
}

#bottom-section {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  /* background-color: yellow; */
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 21%;
  transition: all ease 0.3s;
  cursor: pointer;
  font-size: 20px;
  color: rgb(37, 38, 37);
  background-color: rgba(78, 164, 78, 0.705);
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.button:hover {
  color: white;
  background-color: rgb(5, 48, 13);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  height: 80%;
  overflow-y: auto;
}
.modal-content pre {
  white-space: pre-wrap; 
  word-wrap: break-word; 
  max-width: 100%; 
  overflow-wrap: break-word; 
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#instructions-button
{
  background-color: #fad8c3ed;
  margin-left: 10px;
  color: black;
  width: 120px;
  height: 30px;
  font-size: 18px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 7px;
  cursor: pointer;
  transition: all ease 0.3s;
}

#instructions-button:hover
{
  background-color: #7a4320ed;
  color:white
}


.in-chat-button {
  background-color: #7c9de4ed;
  margin-left: 10px;
  color: black;
  width: 70px;
  height: 25px;
  font-size: 18px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 7px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.in-chat-button:hover {
  color: white;
  background-color: #204493fd;
}

.view-graph-button {
  background-color: #7c9de4ed;
  margin-left: 10px;
  color: black;
  width: 130px;
  height: 80px;
  font-size: 18px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 7px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.view-graph-button:hover {
  color: white;
  background-color: #204493fd;
}

.fa-user
{
  margin-right: 5px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 50%;
}

.fa-robot
{
  margin-right: 5px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 50%;
}

#api-key-display
{
  text-transform: capitalize;
}

.api-key-container {
  background-color: #c3f2fc;
  padding: 5px; 
  border: 1px solid black; 
  border-radius: 5px;
  display: flex;
  gap: 5px; 
}

.form-div {
  background-color: #c3f2fc;
  padding: 4px; 
  border: 1px solid black; 
  border-radius: 5px; 
  display: flex;
  gap: 5px; 
}
h3{
  font-size: 22px;
}
h2{
  font-size: 27px;
}
li{
  font-weight: 28px;
}
